{{- $isPersonalComputer := false -}}
{{- $isWorkComputer := false -}}

{{- $environmentChoices := list "personal" "work" -}}
{{- $environment := promptChoiceOnce . "environment" "Which environment is this?" $environmentChoices -}}

{{- if eq $environment "personal" -}}
{{-   $isPersonalComputer = true -}}
{{-   $isWorkComputer = false -}}
{{- end -}}

{{- if eq $environment "work" -}}
{{-   $isPersonalComputer = false -}}
{{-   $isWorkComputer = true -}}
{{- end -}}

[data]
  environment = {{ quote $environment }}
  isPersonalComputer = {{ $isPersonalComputer }}
  isWorkComputer = {{ $isWorkComputer }}
