# Environment
export EDITOR='vim'
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export PATH=~/.local/bin:$PATH
export SSH_AUTH_SOCK=~/.1password/agent.sock

# Homebrew
export HOMEBREW_NO_ENV_HINTS=1
if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"  
fi

# ZSH completions
autoload -Uz compinit
compinit

# 1Password completions
eval "$(op completion zsh)"; compdef _op op

# Starship
eval "$(starship init zsh)"

# asdf
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
. $(brew --prefix asdf)/libexec/asdf.sh

# FZF config
if type rg &> /dev/null; then
  export FZF_DEFAULT_COMMAND='rg --files --hidden -g "!{node_modules,.git}"'
  export FZF_DEFAULT_OPTS='-m --height 50% --border'
fi

# Aliases
alias c='clear'
alias cd..='cd ..'
alias cp='cp -i'
alias cz='chezmoi'
alias la='ls -al'
alias ll='ls -l'
alias ls='lsd'
alias lt='ls --tree'
alias mv='mv -i'
alias rm='rm -i'
alias tree='lt'
{{ if .work }}
alias nuwoof='cd ~/Development/nuwoof'
alias woof='cd ~/Development/utfb/woof'
{{ end }}
