# Homebrew
if type brew &>/dev/null
then
  export HOMEBREW_NO_ENV_HINTS=1
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
fi

# Functions
if [ -d $ZDOTDIR/functions ]
then
  fpath=($ZDOTDIR/functions $fpath)
  autoload -Uz $ZDOTDIR/functions/*(:t)
fi

# History
HISTFILE="$ZDOTDIR/.zsh_history"
HISTSIZE=50000
SAVEHIST=10000
setopt extended_history
setopt hist_expire_dups_first
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_verify
setopt share_history

# ZSH completions
autoload -Uz compinit
compinit

# 1Password completions
if type op &> /dev/null
then
  eval "$(op completion zsh)"; compdef _op op
fi

# Starship
if type starship &> /dev/null
then
  export STARSHIP_CONFIG=~/.config/starship/starship.toml
  eval "$(starship init zsh)"
fi

# asdf
if type asdf &> /dev/null
then
  export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
  . $(brew --prefix asdf)/libexec/asdf.sh
fi

# Yarn
if type yarn &> /dev/null
then
  export PATH="$(yarn global bin):$PATH"
fi

# Docker
export PATH="$HOME/.docker/bin:$PATH"

# Ripgrep
export RIPGREP_CONFIG_PATH="/Users/zspoelstra/.config/ripgrep/config"

# zsh-vi-mode
if [ -f $(brew --prefix)/opt/zsh-vi-mode/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh ]
then
  ZVM_VI_INSERT_ESCAPE_BINDKEY=jj
  source $(brew --prefix)/opt/zsh-vi-mode/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh
fi

# zsh-autosuggestions
if [ -f $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]
then
  source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
  bindkey '^ ' autosuggest-accept
fi

{{ if .isWorkComputer }}
# SDKMAN
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
{{ end }}

# Aliases
alias bex='bundle exec'
alias c='clear'
alias cd..='cd ..'
alias cp='cp -i'
alias cz='chezmoi'
alias la='ls -al'
alias ll='ls -l'
alias ls="lsd --ignore-glob=$'Icon\r'"
alias lt='ls --tree'
alias k='kubectl'
alias mv='mv -i'
alias rm='rm -i'
alias tree='lt'
alias vim='nvim'
