# Disable Apple shell sessions
SHELL_SESSIONS_DISABLE=1

export EDITOR='nvim'
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export PATH=/Applications/Postgres.app/Contents/Versions/latest/bin:~/.local/bin:$PATH
export SSH_AUTH_SOCK=~/.1password/agent.sock

{{ if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else }}
eval "$(/usr/local/bin/brew shellenv)"
{{ end }}
